access
affine
aiobotocore[awscli,boto3]
aiohttp
alabaster
astropy
autopep8
black[jupyter]
bokeh
boltons
Bottleneck
Cartopy --no-binary cartopy
cattrs
ciso8601
click
cligj
climate_indices
cmocean
cognitojwt # Used for user authentication
colorama
contextily
dask-gateway
dask-gateway-server
dask-labextension>=7.0.0
dask-ml
dask-image
dask[complete] # due to dask-gateway
datacube
# dataclasses #  backport for Python 3.6
datashader
deafrica-tools >= 2.4.4
descartes
dill
distributed # due to dask-gateway
docutils
eodatasets3
flake8
folium
gdal==3.8.5 # should match version in the osgeo/gdal image
geohash2
geojson
geopandas
geopy
geoviews
gcsfs
graphviz
h5py
hdmedians --no-binary=hdmedians
hdstats --no-binary hdstats
holoviews
https://github.com/ubarsc/rios/archive/rios-2.0.4.tar.gz
ipycanvas
ipyevents
ipyfilechooser
ipyleaflet
ipympl
ipython
ipywidgets
isort
jedi
jsonschema
jupyter
jupyterhub
jupyter_bokeh>=4.0.0
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyter-resource-usage>=1.0.0
jupyter-server
jupyter-server-proxy>=4.1.0
jupyter-ui-poll
jupyterlab>=4.0
jupyterlab-code-formatter
jupyterlab-code-snippets
jupyterlab-geojson
jupyterlab-git
jupyterlab-iframe>=0.5.0
jupyterlab-language-pack-fr-FR
jupyterlab-logout>=1.0.0
# jupyterlab-system-monitor archived and components moved to jupyter-resource-usage
jupyterlab-topbar-text # replace jupyterlab-topbar
jupyterlab-theme-toggler
jupyterlab-widgets
jupytext
kombu
lark-parser
latex
line-profiler
localtileserver
mapclassify
memory-profiler
matplotlib
mypy
nbconvert # because of jupyter_contrib_nbextensions
nbdime
nbformat
nbgitpuller
nbmake
nbval
netCDF4
notebook
numba
numexpr
numpy
odc-algo
odc-dscache
odc-geo
odc-stac
odc-stats
# odc-tools apps
odc-apps-cloud
odc-apps-dc-tools
# odc-tools libs
odc-cloud[ASYNC]
odc-io
odc-ui
opencv-contrib-python-headless
opencv-python-headless
osmnx
# otps
OWSLib
pandana
pandas < 2.2.0
pandoc
panel
param
parso
pathos
Pillow
plotly
poetry
prompt-toolkit # because of line_profiler/ipython
protobuf
psycopg2
pydash
py3dotplus # replace pydotplus
pyproj
pyrsistent
pysal
pysheds
pystac
pystac-client
pytest
pytest-reportlog
pytest-xdist
python-dateutil
python-geohash
python-ffmpeg
pyTMD>=2.1.6
pyviz_comms
PyYAML
requests
rioxarray
Rtree
git+https://github.com/daleroberts/s2cloudmask
s3fs
scikit-image
scikit-learn
scipy
seaborn
setuptools-scm[toml]
spyndex
sidecar
sqlalchemy
structlog
tensorflow
tflite-runtime-nightly
thredds_crawler # archived
timescale
toolz
tqdm
urbanaccess
urllib3
voluptuous
wapordl
wget
xarray[complete]
xarray-spatial
xgboost # used by Dale's s2cloudmask
yapf
zarr

--no-binary fiona
--no-binary rasterio
--no-binary shapely